<div class="input-wrapper">
    <mat-form-field appearance="outline">
        @if (config.label) {
            <mat-label >
                {{config.label}}
            </mat-label> 
        }
        <input #inputRef [type]="config.type" matInput [placeholder]="config.placeholder" [formControl]="control"/>
        @if (config.type === 'password') {
            <mat-icon matSuffix class="cursor-pointer" #passwordIconRef (click)="showHidePassword()">{{show? 'visibility':'visibility_off'}}</mat-icon>
        }

        @if (config.hint) {
            <mat-hint class="flex gap-1 align-center">
                <span class="text-xs">{{config.hint}}</span>
            </mat-hint>
        }
        @if (control.touched && control.hasError('required')) {
            <mat-error>
                {{config.errorMessage.required}}
            </mat-error>
        }

        @if (control.touched && control.hasError('minlength')) {
            <mat-error>
                {{config.errorMessage.minlength}}
            </mat-error>
        }

        @if (control.touched && control.hasError('maxlength')) {
            <mat-error>
                {{config.errorMessage.maxlength}}
            </mat-error>
        }


        @if (control.touched && control.hasError('pattern')) {
            <mat-error>
                {{config.errorMessage.pattern}}
            </mat-error>
        }
    </mat-form-field>
</div>