<div class="flex flex-col h-screen w-screen items-center justify-center">
    <div class="text-5xl text-slate-700">
        Welcome 
    </div>
    <div class="flex text-xl mt-3">
        Here are list of web apps that you can access
    </div>
    <div class="flex flex-col justify-start mt-3">
        <div class="list-item text-sm">
            Calculator
        </div>
        <div class="list-item text-sm">
            Budget tracker 
        </div>
        <div class="list-item text-sm">
            Todo application
        </div>
        <div class="list-item text-sm">
            Notes
        </div>
        <div class="list-item text-sm">
            Reminder 
        </div>
    </div>
</div>