<div class="login-wrapper">
    <div class="image-wrapper"></div>
    <div class="content-wrapper">
        <div class="content">
            <div class="text-5xl text-blue-900 mb-2 font-light">
                Welcome
            </div>
            <div class="text-3xl text-blue-600 mb-2 font-thin">
                Sign in to your account
            </div>
            <div class="text-xs text-gray-600">
                Not a member? <span class="font-bold text-slate-600 cursor-pointer" routerLink="register">Register</span>
            </div>
        </div>
        <form (ngSubmit)="onLoginSubmit()" class="mt-4" [formGroup]="loginForm">
            <app-input [config]="loginFormInfo.email" appearance="outline" [control]="getControlFromGroup('email')" />
            <app-input [config]="loginFormInfo.password" appearance="outline" [control]="getControlFromGroup('password')" />
            <div class="mt-3">
                <mat-checkbox [checked]="getControlFromGroup('remember').value" formControlName="remember">Remember me</mat-checkbox>
            </div>
            <div class="mt-4 w-40">
                <app-button [config]="submitBtnInfo" />
            </div>
        </form>
    </div>
</div>